## Change Log
### Monday 3-26 - Added bin for radius

In [1]:
#Sample usage of the program:
#`IMPORT DATA
from config import api_key
import json
import pprint
import requests
import sys
import pandas as pd

#load CSV File
city_file = "2018happycityrating.csv"
bar_file = "bars_data.csv"
weed_file = "weed_data.csv"

# Read file
happy_cities = pd.read_csv(city_file)
bar_cities = pd.read_csv(bar_file)
weed_cities = pd.read_csv(weed_file)
#happy_cities = happy_cities.rename(columns={"City/State": "Location"})

In [3]:
#view import data check
happy_cities.head(1)

,Overall Rank,City,State,City/State,Total Score,Emotional & Physical Well-Being,Income & Employment,Community & Environment,Recreational,Medical
0,1,Plano,TX,"Plano, TX",72.3,7,6,8,illegal,CBD oil

In [4]:
#view import data check
weed_cities.head(1)

,Address,Category 0,Category 1,Category 2,City,Distance,Name,Out of Business,Price,Rating,Review Count,State
0,719 Griswold St,Cannabis Dispensaries,NaN,NaN,Santa Ana,4983.262815,420 Central,False,$$,4.5,214,CA

In [5]:
#view import data check
bar_cities.head(1)

,Address,Category 0,Category 1,Category 2,Category 3,City,Distance,Name,Out of Business,Price,Rating,Review Count,State
0,3701 Dallas Pkwy,American (New),Pizza,Wine Bars,NaN,Plano,7440.286656,Sixty Vines,False,$$,4.5,966,TX

In [6]:
#Creating Summary DF for Bar Data by City
bar_cities_group = bar_cities.groupby('City')
cities_rating_avg = bar_cities_group['Rating'].mean()
city_review_count = bar_cities_group['Review Count'].sum()
city_bar_count = bar_cities_group['Name'].count()

bar_summary = pd.DataFrame({"Bars Average Yelp Rating":cities_rating_avg, "Bars Count of Reviews":city_review_count, 
                            "Bar Count":city_bar_count})
bar_summary.head()

             Bars Average Yelp Rating  Bars Count of Reviews  Bar Count
City
Aiea                         3.500000                   1594          6
Akron                        3.792683                   2258         41
Alameda                      4.125000                   3851          4
Albuquerque                  3.989796                  11218         49
Amarillo                     3.558824                   1028         34

In [7]:
#Creating Summary DF for Weed Data by City
weed_cities_group = weed_cities.groupby('City')
wcities_rating_avg = weed_cities_group['Rating'].mean()
wcity_review_count = weed_cities_group['Review Count'].sum()
wcity_bar_count = weed_cities_group['Name'].count()
weed_summary = pd.DataFrame({"Cannabis Shop Average Yelp Rating":wcities_rating_avg, "Cannabis Shop Count of Reviews":wcity_review_count, 
                            "Cannabis Shop Count":wcity_bar_count})
weed_summary.head()

,Cannabis Shop Average Yelp Rating,Cannabis Shop Count of Reviews,Cannabis Shop Count
City,,,
Albuquerque,3.625000,62,8
Anaheim,3.500000,168,5
Anchorage,3.884615,80,13
Auburn,4.000000,17,1
Aurora,3.281250,423,16

In [8]:
#Merging Happy Cities and Bar Summary
# Merge two dataframes using an outer join
merge_city_bar = pd.merge(happy_cities, bar_summary, on="City", how="left") 
merge_city_bar.head()

,Overall Rank,City,State,City/State,Total Score,Emotional & Physical Well-Being,Income & Employment,Community & Environment,Recreational,Medical,Bars Average Yelp Rating,Bars Count of Reviews,Bar Count
0,1,Plano,TX,"Plano, TX",72.30,7,6,8,illegal,CBD oil,3.928571,16083.0,49.0
1,2,Irvine,CA,"Irvine, CA",71.86,14,11,5,legal,legal,3.810345,22953.0,29.0
2,3,Madison,WI,"Madison, WI",71.81,3,14,7,misdemeanor,CBD oil,4.050000,11387.0,50.0
3,4,Fremont,CA,"Fremont, CA",71.17,10,37,1,legal,legal,3.592593,8745.0,27.0
4,5,Huntington Beach,CA,"Huntington Beach, CA",69.74,6,46,28,legal,legal,4.062500,39297.0,56.0

In [9]:
#Merging Happy Cities and Weed Summary
# Merge two dataframes using an outer join
merge_table_final = pd.merge(merge_city_bar, weed_summary, on="City", how="left") 
merge_table_final.head()

,Overall Rank,City,State,City/State,Total Score,Emotional & Physical Well-Being,Income & Employment,Community & Environment,Recreational,Medical,Bars Average Yelp Rating,Bars Count of Reviews,Bar Count,Cannabis Shop Average Yelp Rating,Cannabis Shop Count of Reviews,Cannabis Shop Count
0,1,Plano,TX,"Plano, TX",72.30,7,6,8,illegal,CBD oil,3.928571,16083.0,49.0,NaN,NaN,NaN
1,2,Irvine,CA,"Irvine, CA",71.86,14,11,5,legal,legal,3.810345,22953.0,29.0,5.0,6.0,2.0
2,3,Madison,WI,"Madison, WI",71.81,3,14,7,misdemeanor,CBD oil,4.050000,11387.0,50.0,NaN,NaN,NaN
3,4,Fremont,CA,"Fremont, CA",71.17,10,37,1,legal,legal,3.592593,8745.0,27.0,NaN,NaN,NaN
4,5,Huntington Beach,CA,"Huntington Beach, CA",69.74,6,46,28,legal,legal,4.062500,39297.0,56.0,NaN,NaN,NaN

In [10]:
merge_table_final.to_csv("merge_table_final.csv", encoding="utf-8", index=False)

# ## Combine detail files and bin for radius

In [12]:
merge_city_bar_det = bar_cities.append(weed_cities, ignore_index=True)
merge_city_bar_det = pd.DataFrame(merge_city_bar_det)
bins = [0, 4023, 8046, 12070, 17000]
group_radius = ["2.5 Mile Radius", "5 Mile Radius", "7.5 Mile Radius", "10 Mile Radius"]

merge_city_bar_det['Top-Bottom'] = pd.cut(merge_city_bar_det["Distance"], bins, labels=group_radius)
merge_city_bar_det.head()

,Address,Category 0,Category 1,Category 2,Category 3,City,Distance,Name,Out of Business,Price,Rating,Review Count,State,Top-Bottom
0,3701 Dallas Pkwy,American (New),Pizza,Wine Bars,NaN,Plano,7440.286656,Sixty Vines,False,$$,4.5,966,TX,5 Mile Radius
1,5880 TX-121,Breakfast & Brunch,Bars,American (Traditional),NaN,Plano,6904.114484,The Biscuit Bar,False,$,4.5,580,TX,5 Mile Radius
2,7300 Lone Star Dr,American (New),Wine Bars,Seafood,NaN,Plano,6644.335931,Seasons 52,False,$$$,4.0,717,TX,5 Mile Radius
3,7300 Dallas Pkwy,Steakhouses,Seafood,Wine Bars,NaN,Plano,6692.595554,The Capital Grille,False,$$$,4.5,479,TX,5 Mile Radius
4,1006 E 15th St,Pizza,Lounges,Italian,NaN,Plano,7076.169644,Urban Crust,False,$$,4.0,865,TX,5 Mile Radius

In [13]:
merge_city_bar_det.to_csv("merge_city_bar_det.csv", encoding="utf-8", index=False)

# ## Merge top and bottom 15

In [14]:
top_10 = merge_table_final.nlargest(15,'Total Score')
bot_10 = merge_table_final.nsmallest(15,'Total Score')
top_bot = top_10.append(bot_10, ignore_index=True)
bins = [0,50,75]
group_top_bot = ["Bottom 15 Cities", "Top 15 Cities"]
top_bot["Top 15 Bottom 15"] = pd.cut(top_bot["Total Score"], bins, labels=group_top_bot)
top_bot

,Overall Rank,City,State,City/State,Total Score,Emotional & Physical Well-Being,Income & Employment,Community & Environment,Recreational,Medical,Bars Average Yelp Rating,Bars Count of Reviews,Bar Count,Cannabis Shop Average Yelp Rating,Cannabis Shop Count of Reviews,Cannabis Shop Count,Top 15 Bottom 15
0,1,Plano,TX,"Plano, TX",72.30,7,6,8,illegal,CBD oil,3.928571,16083.0,49.0,NaN,NaN,NaN,Top 15 Cities
1,2,Irvine,CA,"Irvine, CA",71.86,14,11,5,legal,legal,3.810345,22953.0,29.0,5.0000,6.0,2.0,Top 15 Cities
2,3,Madison,WI,"Madison, WI",71.81,3,14,7,misdemeanor,CBD oil,4.050000,11387.0,50.0,NaN,NaN,NaN,Top 15 Cities
3,4,Fremont,CA,"Fremont, CA",71.17,10,37,1,legal,legal,3.592593,8745.0,27.0,NaN,NaN,NaN,Top 15 Cities
4,5,Huntington Beach,CA,"Huntington Beach, CA",69.74,6,46,28,legal,legal,4.062500,39297.0,56.0,NaN,NaN,NaN,Top 15 Cities
5,6,Fargo,ND,"Fargo, ND",69.57,17,20,24,illegal,legal,3.824324,1893.0,37.0,NaN,NaN,NaN,Top 15 Cities
6,7,Grand Prairie,TX,"Grand Prairie, TX",69.30,20,35,6,illegal,CBD oil,3.361111,2684.0,18.0,NaN,NaN,NaN,Top 15 Cities
7,8,San Jose,CA,"San Jose, CA",68.90,1,18,44,legal,legal,3.820000,48780.0,50.0,3.8125,690.0,8.0,Top 15 Cities
8,9,Scottsdale,AZ,"Scottsdale, AZ",68.24,46,13,2,Illegal,legal,4.084906,22274.0,53.0,3.5000,32.0,1.0,Top 15 Cities
9,10,San Francisco,CA,"San Francisco, CA",67.53,4,2,125,legal,legal,4.130000,113196.0,50.0,4.3000,1173.0,15.0,Top 15 Cities
10,11,Bismarck,ND,"Bismarck, ND",67.38,25,4,45,illegal,legal,3.590909,1110.0,22.0,NaN,NaN,NaN,Top 15 Cities
11,12,Overland Park,KS,"Overland Park, KS",67.37,22,56,26,misdemeanor,CBD oil,3.677419,4908.0,31.0,NaN,NaN,NaN,Top 15 Cities
12,13,Santa Rosa,CA,"Santa Rosa, CA",67.18,23,53,9,legal,legal,3.809524,9631.0,42.0,3.5000,210.0,1.0,Top 15 Cities
13,14,Austin,TX,"Austin, TX",67.16,15,8,80,illegal,CBD oil,4.160000,42182.0,50.0,5.0000,20.0,1.0,Top 15 Cities
14,15,Sioux Falls,SD,"Sioux Falls, SD",66.97,11,67,95,misdemeanor,illegal,3.728261,2029.0,46.0,NaN,NaN,NaN,Top 15 Cities
15,182,Detroit,MI,"Detroit, MI",29.19,181,181,181,legal,legal,4.060000,20713.0,50.0,4.0000,7.0,3.0,Bottom 15 Cities
16,181,Toledo,OH,"Toledo, OH",39.48,177,171,148,decriminalized,legal,3.607143,2303.0,42.0,NaN,NaN,NaN,Bottom 15 Cities
17,180,Charleston,WV,"Charleston, WV",39.68,180,65,93,misdemeanor,legal,3.937500,27578.0,72.0,NaN,NaN,NaN,Bottom 15 Cities
18,179,Birmingham,AL,"Birmingham, AL",40.78,173,167,163,misdemeanor,illegal,4.156250,8650.0,48.0,NaN,NaN,NaN,Bottom 15 Cities
19,178,Cleveland,OH,"Cleveland, OH",40.81,163,180,164,decriminalized,legal,4.140000,14705.0,50.0,NaN,NaN,NaN,Bottom 15 Cities
20,177,Gulfport,MS,"Gulfport, MS",41.06,179,162,94,decriminalized,CBD oil,3.325000,838.0,20.0,NaN,NaN,NaN,Bottom 15 Cities
21,176,Little Rock,AR,"Little Rock, AR",41.40,178,130,101,Illegal,legal,3.750000,3853.0,44.0,NaN,NaN,NaN,Bottom 15 Cities
22,175,Huntington,WV,"Huntington, WV",41.58,182,51,18,misdemeanor,legal,3.952381,762.0,21.0,NaN,NaN,NaN,Bottom 15 Cities
23,174,Newark,NJ,"Newark, NJ",41.86,141,182,180,illegal,legal,3.805556,5416.0,36.0,NaN,NaN,NaN,Bottom 15 Cities
24,173,Mobile,AL,"Mobile, AL",42.22,172,174,135,misdemeanor,illegal,3.887755,2767.0,49.0,NaN,NaN,NaN,Bottom 15 Cities
25,172,Augusta,GA,"Augusta, GA",42.38,175,163,106,decriminalized,CBD oil,3.708333,4079.0,48.0,NaN,NaN,NaN,Bottom 15 Cities
26,171,Saint Louis,MO,"Saint Louis, MO",42.85,162,170,160,decriminalized,legal,4.074468,14664.0,47.0,NaN,NaN,NaN,Bottom 15 Cities
27,170,Fort Smith,AR,"Fort Smith, AR",43.33,176,135,136,Illegal,legal,3.763158,529.0,19.0,NaN,NaN,NaN,Bottom 15 Cities
28,169,Cincinnati,OH,"Cincinnati, OH",43.50,165,145,162,decriminalized,legal,4.240000,14930.0,50.0,NaN,NaN,NaN,Bottom 15 Cities
29,168,Akron,OH,"Akron, OH",44.05,154,166,174,decriminalized,legal,3.792683,2258.0,41.0,NaN,NaN,NaN,Bottom 15 Cities

In [15]:
top_bot.to_csv("top_bot.csv", encoding="utf-8", index=False)

# ## Create Data Frame for Bar Summary

In [16]:
bar_topbot_group = top_bot.groupby('Top 15 Bottom 15')
rating_avg = bar_topbot_group['Bars Average Yelp Rating'].mean()
review_count = bar_topbot_group['Bars Count of Reviews'].sum()
bar_count = bar_topbot_group['Bar Count'].sum()
summary = pd.DataFrame({"Average Yelp Rating":rating_avg, "Count of Reviews":review_count, 
                            "Bar Count":bar_count})

summary["Average Yelp Rating"] = summary["Average Yelp Rating"].map("{:.2f}".format)
summary["Count of Reviews"] = summary["Count of Reviews"].map("{:,.2f}".format)
summary["Bar Count"] = summary["Bar Count"].map("{:,.2f}".format)
summary.head()

                 Average Yelp Rating Count of Reviews Bar Count
Top 15 Bottom 15
Bottom 15 Cities                3.88       124,045.00    637.00
Top 15 Cities                   3.84       347,152.00    610.00

# ## Create Data Frame for Weed Summary

In [18]:

Weed_df = pd.DataFrame(top_bot[['Top 15 Bottom 15','Total Score','City/State', 'Recreational', 'Medical', 
                                'Cannabis Shop Average Yelp Rating','Cannabis Shop Count of Reviews',
                                'Cannabis Shop Count']])

Weed_df['Recreational'] = Weed_df['Recreational'].replace(
    {'illegal': 'Illegal', 'legal': 'Legal', 'misdemeanor': 'Misdemeanor', 'decriminalized': 'Decriminalized' })

Weed_df['Medical'] = Weed_df['Medical'].replace(
    {'illegal': 'Illegal','CBD oil': 'CBD Oil Legal', 'legal': 'Legal', 'misdemeanor': 'Misdemeanor', 'decriminalized': 'Decriminalized' })

Weed_df.head()

,Top 15 Bottom 15,Total Score,City/State,Recreational,Medical,Cannabis Shop Average Yelp Rating,Cannabis Shop Count of Reviews,Cannabis Shop Count
0,Top 15 Cities,72.30,"Plano, TX",Illegal,CBD Oil Legal,NaN,NaN,NaN
1,Top 15 Cities,71.86,"Irvine, CA",Legal,Legal,5.0,6.0,2.0
2,Top 15 Cities,71.81,"Madison, WI",Misdemeanor,CBD Oil Legal,NaN,NaN,NaN
3,Top 15 Cities,71.17,"Fremont, CA",Legal,Legal,NaN,NaN,NaN
4,Top 15 Cities,69.74,"Huntington Beach, CA",Legal,Legal,NaN,NaN,NaN

In [20]:
Weed_df_group = Weed_df.groupby('Recreational')
Weed_rec_group = Weed_df_group ['Recreational'].count()
Weed_df_group2 = Weed_df.groupby('Medical')
Weed_med_group = Weed_df_group2 ['Medical'].count()

Weed_rec_group, Weed_med_group

(Recreational
 Decriminalized    7
 Illegal           9
 Legal             7
 Misdemeanor       7
 Name: Recreational, dtype: int64, Medical
 CBD Oil Legal     7
 Illegal           3
 Legal            20
 Name: Medical, dtype: int64)